.App {
  text-align: center;
  padding: 0;
}

.center-row {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  margin: 0 auto;
  width: 100%;
  max-width: 73.5em;
  padding: 0 1em;
  /* background: yellow; */
}

.page-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  margin-top: 9em;
  min-height: 30em;
  /* background: red; */
}

.page-content {
  font-weight: 500;
  height: 100%
}

.page-title {
  font-size: 5em;
  margin: 0 0 .5em 0;
  letter-spacing: .2em;
  color: #FFF;
}

.section-subtitle {
  color: #44403e;
  font-size: 1em;
  font-weight: 600;
}

.hide {
  display: none  !important;
}

@media screen and (max-width: 45em) {
  .show-for-medium {
    display: none !important;
  }
  .page-container {
    margin-top: 8em;
  }
  .section-title {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 45em) {
  .hide-for-medium {
    display: none !important;
  }
}

@media screen and (max-width: 45em) {
  .show-for-medium {
    display: none !important;
  }
  .page-container {
    margin-top: 8em;
  }
  .page-title {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 45em) {
  .hide-for-medium {
    display: none !important;
  }
}
